page-intro {

    .swiper-pagination-bullet-active {
        background: white;
    }
    
    .bg-image {
        background-image: url('../assets/imgs/intro4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .bg-image1 {
        background-image: url('../assets/imgs/intro3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .bg-image2 {
        background-image: url('../assets/imgs/intro2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .bg-image3 {
        background-image: url('../assets/imgs/intro1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .padding {
        padding-bottom: 100px;
    }
    
    }
    